<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<button type="submit" class="btn btn-primary" routerLink="/formulaire" routerLinkActive="active">Entrer un bug</button>
<button type="submit" class="btn btn-primary" routerLink="/showbug" routerLinkActive="active">Afficher la liste de bugs</button>



<!-- <app-formulaire (newBugEvent)="addBug($event)"></app-formulaire>

<ul>
    <li *ngFor="let bug of bugs"><app-showbug [bug]="bug"></app-showbug></li>
</ul> -->

<router-outlet></router-outlet>


